body {
  overflow: hidden;
}

#weather_report {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98.6vw;
  font-family: sans-serif;
}

#wrapper {
  width: 95vw;
  height: 90vh;
  background: skyblue;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

#current_date {
  width: 95%;
  height: 65%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#main_data {
  width: 60%;
  height: 40%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

#secondary_data {
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
}

#hourly_forecast {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

#main_data::after {
  content: '';
  width: 2px;
  height: 80%;
  background: rgba(0, 0, 0, 0.548);
}

#icon {
  width: 15%;
  height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon img {
  width: 72px;
  height: 72px;
}

#temperature {
  width: 15%;
  height: 60%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_info {
  width: 50%;
  height: 60%;
  display: flex;
  flex-flow: column;
  font-size: 2.3vw;

}

#location {
  height: 33.3%;
}

#date {
  height: 33.3%;
}

#time {
  height: 33.4%;
}

.secondary_item {
  width: 100%;
  height: 100%;
  font-size: 2vw;
  font-family: sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.hour {
  width: 5%;
  height: 85%;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.hour img {
  width: 32px;
  height: 32px;
}

#weekly {
  height: 25%;
  width: 95%;
  background: rgba(83, 83, 83, 0.151);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.day {
  width: 12%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.day img {
  width: 42px;
  height: 42px;
  margin: 5px 0;
}

#my-chart {
  position: relative;
  width: 100%;
  height: 50%;
}

#my-chart .area {
  position: absolute;
  --color: linear-gradient(rgba(204, 32, 32, 0.466), rgba(255, 208, 0, 0.486), rgba(255, 208, 0, 0.123));
}

#my-chart .line {
  position: absolute;
  --color: rgba(0, 0, 0, 0.753);
}

#my-chart th {
  right: -15%;
}

#my-chart span {
  margin-bottom: 5px;
}

#old_wrapper {
  display: none;
}

@media screen and (max-width: 600px) {
  #weather_report {
    height: 97vh;
    width: 96vw;
  }

  #current_date {
    flex-flow: column;
  }

  #main_data {
    width: 100%;
    position: relative;
  }

  #main_data::after {
    content: '';
    position: absolute;
    left: 35%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 2px;
    background: rgba(0, 0, 0, 0.548);
    margin-bottom: -1px;

  }

  #icon {
    width: 25%;
  }

  #icon img {
    width: 64px;
    height: 64px;
  }

  #temperature {
    width: 25%;
    font-size: 8vw;
  }

  #user_info {
    width: 50%;
    font-size: 4.6vw;
  }

  #secondary_data {
    width: 100%;
    flex-flow: row;
  }

  .secondary_item {
    width: 23%;
    font-size: 5vw;
    text-align: center;
  }

  .charts-css th {
    font-size: 3.5vw;
    width: 110%;
    left: 15px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
  }

  .charts-css tr:nth-child(even) th {
    display: none !important;
  }

  .charts-css tr:nth-child(odd) th {
    bottom: -30% !important;
  }

  .charts-css td {
    height: 160% !important;
  }

  #weekly .day:nth-last-child(1) {
    display: none;
  }

  #weekly .daily_date {
    font-size: 4vw;
    text-align: center;

  }
}