#debug {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 300px;
  height: 550px;
  top: 20px;
  left: 20px;
  background: gray;
  z-index: 99999;
  transition: all 1s ease;
  text-wrap: wrap;
  overflow: hidden;
  word-break: break-word;

}
#debug:hover{
  /* opacity: 0.2; */
}
#debug #variables{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: #a3a3a3;
  height: 50%;
  width: 90%;
}
.var{
  width: 90%;
  height: 30%;
  margin: 3px;
  background: #b4b4b4;
}
#debug #local_storage{
  margin: 5px;
  height: 50%;
  background: #a3a3a3;
  width: 90%;
}
body {
  overflow: hidden;
}
.invisible{
  visibility: hidden!important;
}
.hidden{
  display: none!important;
}

.loader {
  position: absolute;
  display: block;
  width: 10vw;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1.2vw solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  z-index: 100;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.loader_bg{
width: 100%;
height: 100%;
position: absolute;
background: skyblue;
border-radius: 5px;
z-index: 99;
/* display: none; */
}

#weather_report {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98.6vw;
  font-family: sans-serif;
}

#wrapper {
  width: 95vw;
  height: 90vh;
  background: skyblue;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

#change_location_btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 5px;
}
#change_location_btn:hover{
background: #d6d6d6;
}

#change_location_btn svg{
  margin: 20% 0 0 -5%;
}
#dark_background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #0000007a;
  z-index:5;
  display: none;
}
.location{
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 10%;
  /* transform: translate(-50%, -50%); */
  width: 400px;
  background: rgb(127 187 212);
  border-radius: 5px;
  z-index: 6;
  box-shadow: 0px 0px 2px #000;
}
#location_header{
  height: 35px;
  background-color: rgb(121 171 193);
  padding: 10px 0 0 5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #0000003f;
  font-size: 1.4rem;
  cursor: default;

}

#location_header button{
  cursor: pointer;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  border: none;
  background-color: transparent;
}
#location_body{
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#location_search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

#location_search input{
  width: 80%;
  height: 30px;
  margin-top: 10px;
  background: rgb(127 187 212);
  border: 1px solid #0000008a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px;
}

#location_search input:focus-visible{
  outline: none;
}

#location_list{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-flow: column;
  /* align-self: center; */
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
  /* background-color: red; */
}
#location_list > div{
  margin: 10px;
  width: 90%;
  height: 30px;
  /* background-color: yellow;   */
  
}
.tip{
  /* align-self: center; */
  text-align: center;
  border-radius: 5px;
  border: 1px solid #000;
  position: relative;
  cursor: default;
}
.tip span{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.search_result, .favorite_locations{
  width: 100%;
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  overflow: visible;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
}
.result_item, .favorite_item{
  border: 1px solid #000;
  cursor: pointer;
  width: calc(100% - 10px);
  height: 40px;
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
}
.result_item:hover, .favorite_item:hover{
  background-color: #79abc1;
}

.result_item:first-child, .favorite_item:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.result_item+.result_item, .favorite_item+.favorite_item{
  border-top-width: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.result_item:last-child, .favorite_item:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.result_item .city, .favorite_item .city{
  width: 80%;
  height: 60%;
  font-size: 1.3rem;
  /* background-color: white; */
  display: flex;
  align-items: center;
}
.city .flag img{
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-right: 5px;
}
.result_item .country, .favorite_item .country{
  width: 80%;
  height: 40%;
  font-size: 1rem;
  /* background-color: aqua; */
}
.result_item .add_favorite, .favorite_item .remove_favorite{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_favorite img, .remove_favorite img{
  width: 20px;
  height: 20px;
}
.add_favorite button, .remove_favorite button{
  background: transparent;
  border-radius: 5px;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_favorite button:hover, .remove_favorite button:hover{
  background: #6192a5;
}
/* .recent_locations{
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: red;
} */

/* .recent_location{
  position: relative;
} */


#location_search button{
  width: 10%;
  height: 30px;
  margin-top: 10px;
  background: rgb(127 187 212);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #000;
  border-left: 0;
}

#location_search button:hover{
  background: rgb(121 171 193);
}
#location_search button:active{
  background: rgb(108, 154, 173);
}


#current_date {
  width: 95%;
  height: 65%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;   
  justify-content: center;
}

#main_data {
  width: 60%;
  height: 40%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

#secondary_data {
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
}

#hourly_forecast {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

#main_data::after {
  content: '';
  width: 2px;
  height: 80%;
  background: rgba(0, 0, 0, 0.548);
}

#icon {
  width: 15%;
  height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon img {
  width: 72px;
  height: 72px;
}

#temperature {
  width: 15%;
  height: 60%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_info {
  width: 50%;
  height: 60%;
  display: flex;
  flex-flow: column;
  font-size: 2vw;
  position: relative;
}

#location {
  height: 33.3%;
}

#date {
  height: 33.3%;
}

#time {
  height: 33.4%;
}

.secondary_item {
  width: 100%;
  height: 100%;
  font-size: 2vw;
  font-family: sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.hour {
  width: 5%;
  height: 85%;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.hour img {
  width: 32px;
  height: 32px;
}

#weekly {
  height: 25%;
  width: 95%;
  background: rgba(83, 83, 83, 0.151);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.day {
  width: 12%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.day img {
  width: 42px;
  height: 42px;
  margin: 5px 0;
}

#my-chart {
  position: relative;
  width: 100%;
  height: 80%;
}

#my-chart .area {
  position: absolute;
  --color: linear-gradient(#cc202077, #ffd0007c, #00eeff1f);
}
/* handle negative temperaturte */
#my-chart .area .minus:before{
  background: linear-gradient(#65ccda48, #4d9bc941, #222d9760);
}

#my-chart .area{
  position: absolute;
  /* background: linear-gradient(rgba(20, 57, 177, 0.466), rgba(255, 208, 0, 0.486), rgba(255, 208, 0, 0.123)); */
}

#my-chart .line {
  position: absolute;
  --color: rgba(0, 0, 0, 0.753);
}

#my-chart th {
  right: -15%;
}

#my-chart span {
  margin-bottom: 5px;
}

#old_wrapper {
  display: none;
}


@media screen and (max-width: 600px) {
  #weather_report {
    height: 97vh;
    width: 96vw;
  }

  #current_date {
    flex-flow: column;
  }

  #main_data {
    width: 100%;
    position: relative;
  }

  #main_data::after {
    content: '';
    position: absolute;
    left: 35%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 2px;
    background: rgba(0, 0, 0, 0.548);
    margin-bottom: -1px;

  }

  #icon {
    width: 25%;
  }

  #icon img {
    width: 64px;
    height: 64px;
  }

  #temperature {
    width: 25%;
    font-size: 8vw;
  }

  #user_info {
    width: 50%;
    font-size: 4.6vw;
  }

  #secondary_data {
    width: 100%;
    flex-flow: row;
  }

  .secondary_item {
    width: 23%;
    font-size: 5vw;
    text-align: center;
  }

  .charts-css th {
    font-size: 3.5vw;
    width: 110%;
    left: 15px !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
  }

  .charts-css tr:nth-child(even) th {
    display: none !important;
  }

  .charts-css tr:nth-child(odd) th {
    bottom: -30% !important;
  }

  .charts-css td {
    height: 160% !important;
  }

  #weekly .day:nth-last-child(1) {
    display: none;
  }

  #weekly .daily_date {
    font-size: 4vw;
    text-align: center;

  }

/*fix for some random graph-css change*/
}
.charts-css:not(.legend-inline){
  flex-flow: row;
}